<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="error"
      internalLogFile="c:\temp\internal-nlog-NopOrderImporter.txt"
      throwExceptions="true"> <!-- TODO: Remove this! -->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.WindowsIdentity"/>
  </extensions>

  <targets>
    <target xsi:type="Database"
            name="LogDatabase"
            dbProvider="System.Data.SqlClient"
            connectionString="${configsetting:name=ConnectionStrings.InfrastructureConnectionString}"
            commandType="StoredProcedure"
            commandText="Log.LogInsert">

      <parameter layout="NopOrderImporter" name="App" />
      <parameter layout="${assembly-version}" name="AppVersion" />
      <parameter layout="${date}" name="AppDate" />
      <parameter layout="${level}" name="Level" />
      <parameter layout="${message}" name="Message" />
      <parameter layout="${windows-identity:userName=True:domain=True}" name="UserName" />
      <parameter layout="${callsite}" name="Callsite" />
      <parameter layout="${machinename}" name="Machine" />
      <parameter layout="${processid}" name="ProcessId" />
      <parameter layout="${exception:format=tostring}" name="Exception" />
      <parameter layout="${all-event-properties}" name="Properties" />
      <parameter layout="" name="AspSessionId" />
      <parameter layout="" name="AspUserIdentity" />
      <parameter layout="" name="AspRequestUrl" />
      <parameter layout="" name="AspUserAgent" />
    </target>
  </targets>

  <rules>
    <logger name="*" writeTo="LogDatabase" /> <!-- Set log levels in appsettings.json -->
  </rules>
</nlog>
